

  .tracker {
    text-align: center;
    font-size: 30px;
    font-family: 'Bungee Inline', cursive;
    border-radius: 10px;
    width: 500px;
    color: white;
    margin: 0px auto;
}

 
.parent{
  width: 500px;
  padding-left: 30%;
  padding-right: 30%;
}
    

 
.tracker-dashboard{
    text-align: center;
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
    border-radius: 10px;
    width: 100%;
    background-color: white;
    margin: 0px auto;
    border: 1px solid #95A5A6;
    box-shadow: 2px 2px 2px 2px #95A5A6;
    
}
  

label{
  color: black;
  margin-top: 10px;
  float: left;
  margin-left: 28px;
  font-size: 20px;

}

h{
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
a{
  color: white;
}

#editBudget{
  color: rgb(96, 108, 130);
  font-size: 20px;
}

a:link {
    text-decoration: none;

}
li a{
    color: rgb(0, 32, 189);
    font-weight: bold;
}
li{
    font-size: 15px;
    display: inline;
}
ul{
  margin: 0px 0px 0px -20px;
}


#expense{
    color: rgb(96, 108, 130);
    text-align: left;
    font-size: 20px;
}
#category{
  color: rgb(96, 108, 130);
    text-align: left;
    font-size: 20px;
}

input{
  background-color: white;
  display: inline-block;
  border: 1px solid #95A5A6;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;

}

input::placeholder{
  color:rgb(96, 108, 130);
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

input[type='number']{
  width: 90%;
  height: 50px;
}
input[type='number']:focus{
  border: 1px solid rgb(0, 32, 189);
}
input[type='text']{
  width: 90%;
  height: 50px;
}
input[type='date']{
  width: 280px;
  height: 50px;
}
input[type='password']{
  width: 90%;
  height: 50px;
}
input[type='submit']{
  width: 95%;
  height: 50px;
}
input[type='email']{
  width: 90%;
  height: 50px;
}
input[type='email']:focus{
  border: 1px solid rgb(0, 32, 189);
}
select{
  background-color: white;
  border: 1px solid #95A5A6;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  outline: none;
  width: 95%;
  height: 50px;
}
select:focus{
  border: 1px solid rgb(0, 32, 189);
}


input, select, textarea {
  color: black;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding-left: 20px;
}

.title {
  text-align: center;
  font-size: 70px;
  margin-top: 500px;
  font-family: 'Bungee Shade', cursive;
}

.button{ 
  margin-top: 20px;
  color: white;
  background-color: rgb(0, 32, 189);
  text-align: center !important;
  padding-right: 10px;  
}
.button:hover{
  cursor: pointer;
  font-size: 22px;
  background-color: rgb(0, 0, 139);
}


.toggle{
 text-align: center;
 position: fixed;
 z-index: 1;
 width: 500px;
 border-radius: 48px 48px 0px 0px;
 background-color: #D2B4DE;
 font-size: 10px;
 margin-bottom: 0px;
}

#addBtn{
  display: inline-block;
  font-size: 20px;
  text-align: left;
  margin-left: 0px;
  color: white;  
  margin: 0px 20px 0px -10px;
}
#expenseBtn{
  display: inline-block;
  font-size: 20px;
  color: white; 
  margin: 0px -90px 0px 20px;
}
#logout{
  display: inline-block;
  color: white;
  margin: 0px 0px 0px 60px;
  border: none;
  width: 25%;
  
}


#logoutBtn{
  color: white;
  border: none;
  width: 100%;
  margin-left: 40%;
  text-align: left;
  background-color: #D2B4DE;
  cursor: pointer;
}

#addExpense{
  width: 100%;
}

#expenseField{
  height: 500px;
  background-color: white;
  margin-top: -50px;
}


ejs styling

#remainingBudget{
  position: absolute;
}

.remainingBudget{
  color: #7DCEA0;
  font-size: 100px;
  margin-top: 0%;
  margin-bottom: 0px;
  text-align: center;
  overflow: auto;
}
.thisBudget{
  color: #1B4F72;
  font-size: 100px;
  margin-top: 0%;
  margin-bottom: 0px;
  text-align: center;
  overflow: auto;
  
}
.budgetTitle{
  text-align: left;
  border-bottom: 2px solid #95A5A6;
  width: 95%;
  padding-left: 5%;
  display: block;
}

#totalSpent{
  color: #CD6155;
  text-decoration: underline;
  font-size: 50px;
  margin-bottom: 5%;
}




#page{
  background-color:#F0F3F4;
  padding-top: 50px;
  
}
#formField{
  font-family: 'Roboto', sans-serif;
  background-color: white;
  opacity: 1;
  border-radius: 10px;
  padding: 5% 5%;
  box-shadow: 2px 2px 5px 5px #BDC3C7;
}
input[type='text']:focus{
  border: 1px solid rgb(0, 32, 189);
}
input[type='password']:focus{
  border: 1px solid rgb(0, 32, 189);
}

.message{
  color: rgb(96, 108, 130);
  font-size: 15px;
}
.title{
  color: rgb(0, 32, 189);
  font-size: 70px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}
h1{
  color: rgb(96, 108, 130);
  font-size: 40px;
  font-weight: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
h2{
  color: rgb(96, 108, 130);
  font-size: 20px;
  margin-bottom: 30px;
}

.errorMessage{
  background-color: #FADBD8;
  border: 2px solid red;
  border-radius: 5px;
  width: 95%;
  float: left;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -15px;
  color: rgb(96, 108, 130);
  list-style-type: disc;
  display: list-item;
  list-style-position: inside;
}


h3{
  color: rgb(96, 108, 130);
  font-size: 20px;
}
h4{
  color: rgb(96, 108, 130);
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}


.container{
  display: grid;
  margin-top: 0px;
  background-color: #D2B4DE;
}

.dashboard{
  font-family: 'Roboto', sans-serif;
  border-radius: 50px 50px 5px 5px;
  border: 1px solid #95A5A6;
  align-items: center;
  grid-area: inners;
  width: 100%;
  height: 320px;
  background-color: #D2B4DE;
  overflow: auto;
  z-index: 0;
}
