<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">


<link href='/style.css' rel='stylesheet' type='text/css'>
<script src="index.js"></script>
<script src='budget.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=0.7">

<body id='page'>
<script>
alert('You are about to change your monthly budget')
</script>

<div class='tracker'>
<p class='title'>Budget-IT</p>
<div id='formField'>
    <h4>Please enter your new monthly budget!</h4>
    <form action='/new-budget-added' method='POST'>
    <input type='text' id='income' name='newBudget' placeholder='Enter your new budget here' onmouseover='pointer'>
    <input type='submit' value='Edit' class='button'>
    </form>
    </div>
    </div>

<br></br>







</body>
