<!DOCTYPE html>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">

<link href='/style.css' rel='stylesheet' type='text/css'>
<script src="index.js"></script>
<script src='budget.js'></script>
<meta name="viewport" content="width=device-width, initial-scale=0.7">

<body id='page'>
<div class='tracker'>
<p class='title'>Budget-IT</p>
<div id='formField'>
<div id='form'>
<form action='/register' method='POST'>
<label for='username'>User Name</label>
<input type='text' id='newUser' name='newUsername' placeholder='UserName' required>
<label for='password'>Password</label>
<input type='password' id='newPassword' name='newPassword' placeholder='Password' required>
<label for='email'>Email</label>
<input type='email' id='email' name='email' placeholder='Email' required>
<input type='submit' value='Register' class='button'>
</form>
</div>
<div>
<ul>
  <li class='message'>Already have an account?</li>
  <li><a href='/login'>Login here!</a></li>
  </ul>
  </div>

  </div>
  </div>
  </body>
